<template>
  <transition name="modal">
    <div class="modal-mask" >
      <div class="modal-container" style="width: 90%;font-size: 12px;">
        <div class="modal-header">
          <h3>{{ title }}</h3>
          <button type="button" class="btn-close" @click="close" aria-label="Close modal" > x </button>
        </div>
        <div class="modal-body" id="tunelyCalculator">
          <div class="row">
            <div class="col-8 table-wrapper-scroll-y my-custom-scrollbar">
              <fieldset v-if="computing.lutnovyTahNetesny">
                <legend>Společné proměnné</legend>
                <table>
                  <tr>
                    <td>L</td>
                    <td>Délka lutnového tahu</td>
                    <td>[ m ]</td>
                    <td><input type="number" step=".00001" min="0.1" v-model="inputs.delkalutnovehotahu"/></td>
                  </tr>
                  <tr>
                    <td>D</td>
                    <td>Průměr luten</td>
                    <td>[ m ]</td>
                    <td><input type="number" step=".00001" min="0.1" v-model="inputs.prumerLuten"/></td>
                  </tr>
                </table>
              </fieldset>
              <fieldset v-if="computing.lutnovyTahNetesny">
                <legend>Lutnový tah netěsný</legend>
                <table>
                  <tr>
                    <td>p</td>
                    <td>Koeficient netěsnosti luten</td>
                    <td><label class="btn btn-sm " :class="{ 'btn-success': koeficientNetesnosti === 'Absolutně těsné', 'btn-info': koeficientNetesnosti === 'velmi dobrá těsnost', 'btn-default': koeficientNetesnosti === 'dobrá těsnost', 'btn-warning': koeficientNetesnosti === 'dostačující těsnost', 'btn-danger': koeficientNetesnosti === 'nevyhovující těsnost' }"   >{{ koeficientNetesnosti }}</label></td>
                    <td><input type="number" step=".00001" :min="0" v-model="inputs.koeficientNetesnosti"/></td>
                  </tr>
                  <tr>
                    <td>R</td>
                    <td>Odpor těsného lutnového tahu</td>
                    <td>[ kg m<sup>-7</sup> ]</td>
                    <td><input type="number" step=".0001" v-model="inputs.odporTesnehoLutnovehoTahu"/></td>
                  </tr>
                  <tr>
                    <td>l</td>
                    <td>Délka jedné lutny</td>
                    <td>[ m ]</td>
                    <td><input type="number" step=".00001" min="0.1" v-model="inputs.delkaJedneLutny"/></td>
                  </tr>
                  <tr>
                    <td>Q<sub>C</sub></td>
                    <td>Potřebný objemový průtok větrů pro odvětrání pracoviště</td>
                    <td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
                    <td><input type="number" step=".01" v-model="inputs.potrebnyObjemovyPrutokVetru"/></td>
                  </tr>
                </table>
              </fieldset>
              <fieldset v-if="computing.propocetTlakoveZtraty">
                <legend>Propočet tlakové ztráty v lutnovém tahu</legend>
                <table>
                  <tr>
                    <td>R</td>
                    <td>Aerodynamický odpor lutnového tahu </td>
                    <td>[ kg m<sup>-7</sup> ]</td>
                    <td><input type="number" step=".01" v-model="inputs.aerodynamickyOdporLutnovehoTahu"/></td>
                  </tr>
                  <tr>
                    <td>Q<sub>0</sub></td>
                    <td>Objemový průtok větrů </td>
                    <td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
                    <td><input type="number" step=".01" v-model="inputs.objemovyPrutokVetru"/></td>
                  </tr>
                </table>
              </fieldset>
              <fieldset v-if="computing.optimalniPrumerLuten">
                <legend>Optimální průměr luten</legend>
                <table>
                  <tr>
                    <td>Q<sub>O</sub></td>
                    <td>Potřebný objemový průtok větrů lutnami stanovený na základě předchozích kritérii</td>
                    <td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
                    <td><input type="number" step=".01" v-model="inputs.potrebnyObjemovyPrutokVetru2"></td>
                  <tr>
                    <td>L</td>
                    <td>Celková délka lutnového tahu včetně prodloužení v důsledku tvarových a směrových změn</td>
                    <td>[ m ]</td>
                    <td><input type="number" step=".01" v-model="inputs.celkovadelkalutnovehotlakuvcetneprodlouzeni"/></td>
                  </tr>
                  <tr>
                    <td>Z</td>
                    <td>Předpokládaný počet použití luten</td>
                    <td>[ ks ]</td>
                    <td><input type="number" step=".01" v-model="inputs.predpokladanyPocetLuten"/></td>
                  </tr>
                  <tr>
                    <td>v<sub>p</sub></td>
                    <td>Průměrný denní postup čelby za 24 hod.</td>
                    <td>[ m ]</td>
                    <td><input type="number" step=".01" v-model="inputs.prumernyPostup"/></td>
                  </tr>
                </table>
              </fieldset>
              <fieldset v-if="computing.propocetVymenyVzduchu">
                <legend>Propočet výměny vzduchu</legend>
                <table>
                  <tr>
                    <td>S</td>
                    <td>Světlý průřez raženého větraného díla</td>
                    <td>[ m<sup>2</sup> ]</td>
                    <td><input type="number" step=".01" v-model="inputs.svetlyPrurez"/></td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>Délka větraného díla</td>
                    <td>[ m ]</td>
                    <td><input type="number" step=".01" v-model="inputs.delkaVetranehoDila"/></td>
                  </tr>
                  <tr>
                    <td>Q<sub>c</sub></td>
                    <td>Vzduchový výkon ventilátoru</td>
                    <td>[ m<sup>3</sup>h<sup>-1</sup> ]</td>
                    <td><input type="number" step=".01" v-model="inputs.vzduchovyVykonVentilatoru"/></td>
                  </tr>
                </table>
              </fieldset>
              <fieldset v-if="computing.propocerObjemovychProfilu">
                <legend>Propočet objemového průtoku v profilu díla</legend>
                <table>
                  <tr>
                    <td>v<sub>n</sub></td>
                    <td>Střední rychlost větrního proudu</td>
                    <td>[ m s<sup>-1</sup> ]</td>
                    <td><input type="number" step=".01" v-model="inputs.stredniRychlostVetrnehoProudu"/></td>
                  </tr>
                  <tr>
                    <td>r</td>
                    <td>Poloměr kružnice</td>
                    <td>[ m ]</td>
                    <td><input type="number" step=".01" v-model="inputs.polomerKruznice"/></td>
                  </tr>
                </table>
              </fieldset>
            </div>

            <div class="col-4">
              <table>
                <thead>
                <tr>
                <th></th>
                <th style="width: 10em;">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><input type="checkbox" v-model="computing.lutnovyTahNetesny">&nbsp;Lutnový tah netěsný:</td>
                  <td>&nbsp;{{ results.lutnovyTahNetesny }}&nbsp; [ m<sup>3</sup>s<sup>-1</sup> ]</td>
                </tr>
                <tr>
                  <td><input type="checkbox" v-model="computing.optimalniPrumerLuten">&nbsp;Stanoveni optimalního prumeru luten:</td>
                  <td>&nbsp;{{ results.optimalniPrumerLuten }}&nbsp;[ m ]</td>
                </tr>
                <tr>
                  <td><input type="checkbox" v-model="computing.propocetTlakoveZtraty">&nbsp;Propčet tlakové ztráty v lutnovém tahu:</td>
                  <td>&nbsp;{{ results.propocetTlakoveZtraty }}&nbsp;[ m<sup>3</sup>s<sup>-1</sup> ] </td>
                </tr>
                <tr>
                  <td><input type="checkbox" v-model="computing.propocetVymenyVzduchu">&nbsp;Propočet výměny vzduchu:</td>
                  <td>{{ results.propocetVymenyVzduchu }}&nbsp;hodin <br /> {{ (results.propocetVymenyVzduchu * 60).toFixed(2) }}&nbsp;minut <br />{{ (results.propocetVymenyVzduchu * 60 * 60).toFixed(2) }}&nbsp;sekund  <br /> {{  vymenaVzduchuPocet  }}&nbsp;za hodinu </td>
                </tr>
                <tr>
                  <td><input type="checkbox" v-model="computing.propocerObjemovychProfilu">&nbsp;Propočet objemového průtoku v profilu díla:</td>
                  <td>Q<sub>v</sub>&nbsp;{{ results.propocerObjemovychProfilu }}&nbsp;[ m<sup>3</sup>s<sup>-1</sup> ]</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
'
<script>
import AdditionalCalculator from './../components/calculator/AdditionalCalculator.js'
let calculator = new AdditionalCalculator()
export default {
  name: 'additionalCalculator',
  data () {
    return {
      title: 'Doplnkove vzorce',
      inputs: {
        koeficientNetesnosti: 0.0,
        mernaHmotnostVzduchu: 0.0,
        tihoveZrychleni: 9.8,
        koeficientNetesnstiLabelColor: 'btn-success',
        prumerLuten: 0.0,
        svetlyPrurez: 0.0,
        hustotaVzduchu: 0.0,
        faktortreni: 0.0,
        delkalutnovehotahu: 0.0,
        odporTesnehoLutnovehoTahu: 0.0,
        delkaJedneLutny: 0.0,
        potrebnyObjemovyPrutokVetru: 0.0,
        potrebnyObjemovyPrutokVetru2: 0.0,
        celkovadelkalutnovehotlakuvcetneprodlouzeni: 0.0,
        predpokladanyPocetLuten: 0,
        prumernyPostup: 0,
        aerodynamickyOdporLutnovehoTahu: 0.0,
        objemovyPrutokVetru: 0.0,
        obvodLuten: 0,
        rychlostVetruVLutnovemTahu: 0.0,
        k1konstanta: 0,
        celkovyCasKVymeneVzduchu: 0,
        polomerKruznice: 0,
        delkaVetranehoDila: 0,
        vzduchovyVykonVentilatoru: 0,
        stredniRychlostVetrnehoProudu: 0
      },
      computing: {
        lutnovyTahNetesny: false,
        optimalniPrumerLuten: false,
        propocetTlakoveZtraty: false,
        propocetVymenyVzduchu: false,
        propocerObjemovychProfilu: false,
        propocetOdporuLutnovehoTahuZKoeficientu: false
      },
      results: {
        lutnovyTahNetesny: 0.0,
        optimalniPrumerLuten: 0.0,
        propocetTlakoveZtraty: 0.0,
        propocetVymenyVzduchu: 0.0,
        propocerObjemovychProfilu: 0.0,
        propocetOdporuLutnovehoTahuZKoeficientu: 0.0
      }
    }
  },
  watch: {
    inputs: {
      handler (val) {
        this.calculate()
      },
      deep: true
    }
  },
  computed: {
    vymenaVzduchuPocet: function () {
      if (this.results.propocetVymenyVzduchu > 0) {
        return (60 / (this.results.propocetVymenyVzduchu * 60)).toFixed(2)
      }
      return 0
    },
    koeficientNetesnosti: function () {
      let value = 'Absolutně těsné'

      if (this.inputs.koeficientNetesnosti > 0.0 && this.inputs.koeficientNetesnosti <= 0.0001) {
        value = 'velmi dobrá těsnost'
      } else if (this.inputs.koeficientNetesnosti > 0.0001 && this.inputs.koeficientNetesnosti <= 0.0005) {
        value = 'dobrá těsnost'
      } else if (this.inputs.koeficientNetesnosti > 0.0005 && this.inputs.koeficientNetesnosti <= 0.001) {
        value = 'dostačující těsnost'
      } else if (this.inputs.koeficientNetesnosti > 0.001) {
        value = 'nevyhovující těsnost'
      }
      return value
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    calculate () {
      if (this.computing.lutnovyTahNetesny === true) {
        this.results.lutnovyTahNetesny = calculator.lutnovyTahNetesny(
          this.inputs.koeficientNetesnosti,
          this.inputs.prumerLuten,
          this.inputs.delkalutnovehotahu,
          this.inputs.odporTesnehoLutnovehoTahu,
          this.inputs.delkaJedneLutny,
          this.inputs.potrebnyObjemovyPrutokVetru
        ).toFixed(2)
      }
      if (this.computing.optimalniPrumerLuten === true) {
        this.results.optimalniPrumerLuten = calculator.optimalniPrumerLuten(
          this.inputs.potrebnyObjemovyPrutokVetru2,
          this.inputs.celkovadelkalutnovehotlakuvcetneprodlouzeni,
          this.inputs.predpokladanyPocetLuten,
          this.inputs.prumernyPostup
        ).toFixed(4)
      }
      if (this.computing.propocetTlakoveZtraty === true) {
        this.results.propocetTlakoveZtraty = calculator.propocetTlakoveZtratyTesnyTah(
          this.inputs.aerodynamickyOdporLutnovehoTahu,
          this.inputs.objemovyPrutokVetru
        ).toFixed(2)
      }
      if (this.computing.propocetVymenyVzduchu === true) {
        this.results.propocetVymenyVzduchu = calculator.propocetVymenyVzduchu(
          this.inputs.svetlyPrurez,
          this.inputs.delkaVetranehoDila,
          this.inputs.vzduchovyVykonVentilatoru
        ).toFixed(6)
      }

      if (this.computing.propocerObjemovychProfilu === true) {
        this.results.propocerObjemovychProfilu = calculator.propocerObjemovychProfilu(
          this.inputs.polomerKruznice,
          this.inputs.stredniRychlostVetrnehoProudu
        ).toFixed(2)
      }
      if (this.computing.propocetOdporuLutnovehoTahuZKoeficientu === true) {
        this.results.propocetOdporuLutnovehoTahuZKoeficientu = calculator.propocetOdporuLutnovehoTahuZKoeficientu(
          this.inputs.odpor,
          this.inputs.hustotaVzduchu,
          this.inputs.faktortreni,
          this.inputs.delkalutnovehotahu,
          this.inputs.prumerLuten
        ).toFixed(2)
      }
    }
  }
}
</script>
