<template>
  <div class="small" v-if="isDisplayed">
<!--    <button type="button" class="btn btn-sm btn-success" disabled v-if="canAddEmptyPart" data-dismiss="alert" aria-label="Close" @click="addEmptyPart()" >-->
<!--      Další úsek-->
<!--    </button>-->
    <ul class="list-group list" >
      <li class="list-group-item projectParts" v-for="(item, index) in storage"
          :class="{ 'active': item.isSelected() === true }" v-bind:key="index">
        <div class="buttons">
          <button type="button" class="btn btn-sm btn-inverse" data-dismiss="alert" aria-label="Close" v-if="index === 0"  disabled="disabled"  style="float: right;">
            <span aria-hidden="true">&times;</span>
          </button>
          <button type="button" class="btn btn-sm" data-dismiss="alert" aria-label="Close" v-if="index !== 0" @click="removePart(index)" style="float: right;">
            <span aria-hidden="true">&times;</span>
          </button>
          <button type="button" :class="{'btn':true,'btn-sm': true, 'btn-warning' : index === selectedUsek}" data-dismiss="alert"  aria-label="Edit" style="float: right;" @click="updatePart(index)">
            <span aria-hidden="true" >&#9998;</span>
          </button>
        </div>
        <div class="well well-sm" @click="choosePartToBeActive(index)">
          <h5 class="alert-heading">Úsek {{ index + 1 }} </h5>
          <ul>
            <li><label><strong>Ventilátor:</strong>&nbsp;<span v-if="item.getVentilator() !== null">{{ item.getVentilator().getName() }}</span></label>
            </li>
            <li><label><strong>Lutna:</strong>
              <ul>
                <template v-if="item.getLutna().getBySelect().getActive() === true">
                  <li><label>Typ:</label>&nbsp;<span v-if="item.lutna.getBySelect().getName() !== null"> {{ item.lutna.getBySelect().getName()}}</span></li>
                  <li><label>Velikost:</label>&nbsp;<span v-if="item.lutna.getBySelect().getDimension() !== null"> {{ item.lutna.getBySelect().getDimension() }}&nbsp;mm</span></li>
                  <li><label>Varianta:</label>&nbsp;<span v-if="item.lutna.getBySelect().getVariant() !== null"> {{ item.lutna.getBySelect().getVariant() }}</span></li>
                </template>
                <template  v-if=" item.lutna.getByResist().getActive() === true">
                  <li><label>Typ:</label>&nbsp;<span> Definice odporem</span></li>
                  <li><label>jednotkový odpor:</label>&nbsp;<span v-if="item.lutna.getByResist() !== null"> {{ item.lutna.getByResist().getValue()  }}&nbsp;</span></li>
                </template>
                <template  v-if="item.lutna.getByLambda().getActive() === true">
                  <li><label>Typ:</label>&nbsp;<span> Definice Lambdou</span></li>
                  <li><label>lambda:</label>&nbsp;<span v-if="item.lutna.getByLambda().getLambda() !== null"> {{ item.lutna.getByLambda().getLambda() }}&nbsp;</span></li>
                  <li><label>rho:</label>&nbsp;<span v-if="item.lutna.getByLambda().getRho() !== null"> {{ item.lutna.getByLambda().getRho() }}&nbsp;</span></li>
                  <li><label>průměr:</label>&nbsp;<span v-if="item.lutna.getByLambda().getDiameter() !== null"> {{ item.lutna.getByLambda().getDiameter() }}&nbsp;</span></li>
                </template>
                <li><label>Délka:</label>&nbsp;<span v-if="item.lutna !== null"> {{ item.lutna.getLength() }}&nbsp;m</span></li>
                <li><label>Celkový odpor:</label>&nbsp;<span v-if="item.lutna !== null"> {{ item.lutna.getComputedResist() }}</span></li>
              </ul>
            </label>
            </li>
            <li v-if="item.getLutna().getBySelect().getActive() === true" ><label><strong>Tvarovky:</strong></label>
              <ul>
                <li v-for="(odpor) in item.getOdpory()" v-bind:key="odpor.id">
                  <label>{{ odpor.odpor.name }}</label> {{ odpor.selectedSize }}&nbsp;mm
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
import EventBus from './event-bus.js'

export default {
  components: {
    EventBus
  },
  data: function () {
    return {
      startWorkArea: 0,
      endWorkArea: 1000,
      computedData: [],
      // selectedUsek: 0,
      maxHeithtLutna: 0
    }
  },
  computed: {
    canAddEmptyPart () {
      let result = false
      if (this.storage.length > 0) {
        if (this.storage.length === 1) {
          let item = this.storage[0]
          if (item.ventilator !== 0 && item.ventilatpor !== null && item.lutna !== null && parseInt(item.lutna.length) > 0 && item.lutna.variant !== '') {
            result = true
          }
        } else {
          let item = this.storage[this.storage.length - 1]
          if (item.ventilator !== 0 || item.ventilator !== null || item.lutna) {
            result = true
          }
        }
      }
      return result
    },
    isDisplayed: function () {
      return true
      // return this.storage.ventilator === null && this.storage.lutna === null
    }
  },
  props: ['storage', 'selectedUsek'],
  watch: {
    storage: 'calculateEmpty',
    selectedUsek: 'checkSelected'
  },
  methods: {
    checkSelected: function () {
      console.log(this.selectedUsek)
    },
    choosePartToBeActive: function (index) {
      this.storage[index].setSelected(!this.storage[index].isSelected())
      EventBus.$emit('RECALCULATE')
    },
    addEmptyPart: function () {
      let emptyPart = {
        ventilator: null,
        lutna: null,
        delkaLutnovehoTahu: 0,
        selectedLutnaResistPerMeter: 0,
        selected: false,
        odpory: []
      }
      this.storage.push(emptyPart)
    },
    removePart: function (index) {
      this.storage.splice(index, 1)
    },
    updatePart: function (index) {
      this.storage[index].setSelected(true)
      EventBus.$emit('EDITPART', index)
    },
    deleteFromContainer: function (index) {
      this.storage.splice(index, 1)
      this.vypocetNetesnosti()
    },
    calculateWorkArea: function (minimum, maximum) {
      this.startWorkArea = 0
      this.endWorkArea = 1000
      for (let i = 0; i < this.storage.length; i++) {
        if (this.storage[i].ventilator !== null) {
          if (this.startWorkArea <= this.storage[i].ventilator.getMinimum()) {
            this.startWorkArea = this.storage[i].ventilator.getMinimum()
          }
          if (this.endWorkArea >= this.storage[i].ventilator.getMaximum()) {
            this.endWorkArea = this.storage[i].ventilator.getMaximum()
          }
        }
      }
    },
    calculateEmpty: function () {
      let self = this
      this.storage.forEach(function (item, index) {
        self.calculate(item.getVentilator())
      })
    },
    recalculate: function () {
      this.computedData = []
      this.maxHeithtLutna = 0
      this.calculateWorkArea(0, 0)
      let delkaa = this.storage.length
      for (let i = 0; i < delkaa; i++) {
        if (this.storage[i].selected === true && this.storage[i].ventilator !== null) {
          for (let iv = this.startWorkArea; iv <= this.endWorkArea; iv = (iv + 0.1)) {
            iv = Number(parseFloat(iv).toFixed(1))
            let pos = Number(iv * 10)
            let yko = Number(parseFloat(this.calculatorVentilatoru(this.storage[i].ventilator, iv)).toFixed(2))
            if (typeof this.computedData[pos] !== 'undefined') {
              this.computedData[pos].y += yko
            } else {
              // if (this.storage.length > 0) {
              this.computedData[pos] = {
                x: iv,
                y: yko
              }
              // }
            }
            if (typeof this.computedData[pos] !== 'undefined') {
              if (this.computedData[pos].y > this.maxHeithtLutna) {
                this.maxHeithtLutna = this.computedData[pos].y
              }
            }
          }
        }
      }
      this.calculateresist()
      let data = {
        data: this.computedData,
        maxHeight: this.maxHeithtLutna * 1.3,
        workArea: {
          x: this.startWorkArea,
          y: this.endWorkArea
        }
      }
      EventBus.$emit('GETVENTILATORCHARTDATA', data)
    },
    calculate: function (ventilator) {
      this.computedData = []
      // check ventilators
      if (ventilator !== null && typeof ventilator !== 'undefined') {
        this.calculateWorkArea(ventilator.getMinimum(), ventilator.getMaximum())
      }
      this.maxHeithtLutna = 0
      for (let i = 0; i < this.storage.length - 1; i++) {
        if (this.storage[i].selected === true) {
          for (let iv = this.startWorkArea; iv <= this.endWorkArea; iv = (iv + 0.1)) {
            iv = Number(parseFloat(iv).toFixed(1))
            let pos = Number(iv * 10)
            let yko = Number(parseFloat(this.calculatorVentilatoru(this.storage[i].ventilator, iv)).toFixed(2))
            if (typeof this.computedData[pos] !== 'undefined') {
              this.computedData[pos].y += yko
            } else {
              if (this.storage.length > 1) {
                this.computedData[pos] = {
                  x: iv,
                  y: yko
                }
              }
            }
            if (typeof this.computedData[pos] !== 'undefined') {
              if (this.computedData[pos].y > this.maxHeithtLutna) {
                this.maxHeithtLutna = this.computedData[pos].y
              }
            }
          }
        }
      }

      if (typeof ventilator !== 'undefined') {
        //  this.calculateActualVentilator(ventilator)
      }
      this.calculateresist()

      let data = {
        data: this.computedData,
        maxHeight: this.maxHeithtLutna * 1.3,
        workArea: {
          x: this.startWorkArea,
          y: this.endWorkArea
        }
      }
      EventBus.$emit('GETVENTILATORCHARTDATA', data)
    },
    calculateresist () {
      for (let i = 0; i < this.storage.length - 1; i++) {
        if (this.storage[i].selected === true) {
          for (let iv = this.startWorkArea; iv <= this.endWorkArea; iv = (iv + 0.1)) {
            iv = Number(parseFloat(iv).toFixed(1))
            let pos = Number(iv * 10)
            // let yko = iv * iv * (this.storage[i].lutna.luteResistValue * this.storage[i].lutna.length * Number(this.storage[i].lutna.ratio))
            if (typeof this.computedData[pos] !== 'undefined') {
              // this.computedData[pos].y -= yko
            }
          }
        }
      }
    },
    calculateActualVentilator (ventilator) {
      this.computedData = []
      for (let i = this.startWorkArea; i <= this.endWorkArea; i = (i + 0.1)) {
        i = Number(parseFloat(i).toFixed(1))
        let pos = Number(i * 10)
        let y = Number(parseFloat(this.calculatorVentilatoru(ventilator, i)).toFixed(2))
        if (typeof this.computedData[pos] !== 'undefined') {
          let result = Number(parseFloat(this.computedData[pos].y) + parseFloat(y))
          this.computedData[pos].y = result.toFixed(2)
        } else {
          this.computedData[pos] = {
            x: i,
            y: y
          }
        }
        if (typeof this.computedData[pos] !== 'undefined') {
          let nyko = Number(this.computedData[pos].y)
          if (nyko > this.maxHeithtLutna) {
            this.maxHeithtLutna = nyko
          }
        }
      }
    },
    calculatorVentilatoru (ventilator, q) {
      let calcString = ventilator.getCalculateString()
      let a = Number(calcString.a)
      let b = Number(calcString.b)
      let c = Number(calcString.c)
      let d = Number(calcString.d)
      q = Number(q)
      let result = (a * Math.pow(q, 3)) + (b * Math.pow(q, 2)) + (c * q) + d
      return result
    }
  }
}
</script>

<style scoped>
  li.projectParts {
    padding: 10px;
    font-size: 12px;
    overflow: hidden;
    overflow-y: scroll;
  }

  li.projectParts p {
    padding-bottom: 0;
  }
  body {
    font-size: 0.7rem;
  }
</style>
