<template>
  <div class="small">
    <line-chart :chart-data="datacollection"></line-chart>-->
  </div>
</template>

<script>
import LineChart from './LineChart.js'
import EventBus from './event-bus.js'
export default {
  components: {
    LineChart,
    EventBus
  },
  computed: {
    chartData: function () {
      return this.data
    },
    chartQvData: function () {
      return this.chartQvData()
    }
  },
  methods: {
    // methods: {
    changeDataChart: function () {
      this.data = [6, 6, 3, 5, 5, 6, 6, 6, 3, 5, 5, 6]
    },
    renderLineChart: function () {
      this.renderChart(
        {
          labels: this.calculateLabel(),
          datasets: [
            {
              label: 'Data One',
              backgroundColor: '#f87979',
              data: this.chartData
            }
          ]
        },
        {responsive: true, maintainAspectRatio: false}
      )
    },
    calculateLabel: function () {
      let list = []
      for (let i = 0; i <= 15; i = i + 0.01) {
        list.push(i)
      }
      return list
    }
    // }
  },
  watch: {
    data: function () {
      this._chart.destroy()
      // this.renderChart(this.data, this.options);
      this.renderLineChart()
    }
  }
}
</script>

<style>
  .small {
    max-width: 600px;
    margin:  150px auto;
  }
</style>
