{# ./templates/default/mypdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Project printed</title>
</head>
<body>
<style>
	body {
		font-size: 12px;
	}
	table thead {
		font-weight: bold;
	}
	#container {
		padding-left: 5em;
	}
	img{
		max-width: 600px;
	}
</style>

<div id="container">
	<h1>Návrh separátního větrání - {{ project.title }}</h1>
	<h3>výpočet potřebného objemoveho průtoku větrů - {{ project.description }}</h3>
	{% if (project.qv4Hloubeni > 0) or (project.qv4 > 0) or (project.qv1 > 0)  %}
	<fieldset>
		<legend>Společné proměnné</legend>
		<table>
			<tbody>
			<tr>
				<td>Přípustná koncentrace CH<sub>4</sub> v projektovaném důlním díle</td>
				<td>c = {{ project.pripustnakoncentracech4 }}</td>
				<td>[ % ]</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if project.qv1 > 0 %}
	<fieldset>
		<legend>Q<sub>V1</sub> Výpočet CH<sub>4</sub></legend>
		<table>
			<tbody>
			<tr>
				<td>Předpokládaná exhalace CH<sub>4</sub> v projektovaném důlním díle</td>
				<td>q<sub>1</sub> = {{ project.exhalationCh4 }}</td>
				<td>[ % ]</td>
			</tr>
			<tr>
				<td>Koncentrace CH<sub>4</sub> v průchodním větrním proudu (dále jen “PVP“) před zaústěním lutnového tahu do projektovaného důlního díla</td>
				<td>c<sub>1</sub> = {{ project.koncentracech4 }}</td>
				<td>[ % ]</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if project.qv2 > 0 %}
	<fieldset>
		<legend>Q<sub>V2</sub> Výpočet CO<sub>2</sub></legend>
		<table>
			<tbody>
			<tr>
				<td>Předpokládaná exhalace kysličníku uhličitého (dále jen CO<sub>2</sub>) v projektovaném důlním díle</td>
				<td>q<sub>2</sub> = {{ project.exhalationC02 }}</td>
				<td>[m<sup>3</sup>s<sup>-1</sup>]</td>
			</tr>

			<tr>
				<td>Celková produkce CO<sub>2</sub> pracovníků a z provozu strojů s naftovým motorem.</td>
				<td>q<sub>3</sub> = {{ project.q3 }}</td>
				<td>[m<sup>3</sup>s<sup>-1</sup> ]</td>
			</tr>

			<tr>
				<td>Předpokládaný počet pracovníků</td>
				<td>n<sub>1</sub> = {{ project.predpokladanyPocetPracovnikuN1 }}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Předpokládaný počet současně provozovaných strojů s naftovým motorem v důlním díle</td>
				<td>n<sub>2</sub> = {{ project.predpokladanyPocetSoucasneProvozovanychStrojuSNaftovymMotoremN2 }}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Přípustná koncentrace CO<sub>2</sub> v projektovaném důlním díle</td>
				<td>c<sub>2</sub> = {{ project.pripustnakoncentraceco2 }}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Koncentrace CO<sub>2</sub> v PVP před zaústěním lutnového tahu do projektovaného důlního díla</td>
				<td>c<sub>3</sub> = {{ project.koncentraceco2 }}</td>
				<td>[ % ]</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if (project.qv3foukaci > 0) or (project.qv3saci > 0) %}
	<fieldset>
		<legend>Q<sub>V3</sub> Trhací práce {% if (project.qv3foukaci > 0) %}foukací{% endif %}{% if (project.qv3saci > 0) %}sací{% endif %}</legend>
		<table>
			<tbody>
			<tr>
				<td>Světlý průřez projektovaného důlního díla</td>
				<td>S = {{ project.svetlyPrurez }}</td>
				<td>[ m ]</td>
			</tr>
			<tr>
				<td>Hmotnost trhaviny použité na jednu zabírku</td>
				<td>A = {{ project.hmotnostTrhaviny }}</td>
				<td>[ kg ]</td>
			</tr>
			<tr>
				<td>Přípustná koncentrace konvenčního CO ve zplodinách po trhací práci</td>
				<td>b = {{ project.pripustnakoncentraceco2Trhaci }}</td>
				<td>[ m<sup>3</sup>kg<sup>-1</sup> ]</td>
			</tr>
			{% if project.qv3saci > 0 %}
				<tr>
					<td>Délka zabírky trhací práce</td>
					<td>L<sub>Z</sub> = {{ project.delkazabirkytrhaciprace }}</td>
					<td>[ m  ]</td>
				</tr>
				<tr>
					<td>Měrná hmotnost hornin</td>
					<td>ρ<sub>h</sub> = {{ project.mernahmotnosthornin }}</td>
					<td>[ kg.m<sup>-3</sup> ]</td>
				</tr>
			{% endif %}
			{% if project.qv3foukaci > 0 %}
				<tr>
					<td>Celková délka díla</td>
					<td>L = {{ project.delkaVetranehoDila }}</td>
					<td>[ m ]</td>
				</tr>
				<tr>
					<td>Čas potřebný ke snížení koncentrace zplodin po trhací práci na přípustnou
						koncentraci konvenčního CO</td>
					<td>t = {{ project.casKeSnizeniKoncentrace }}</td>
					<td>[ min. ]</td>
				</tr>
			{% endif %}
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if (project.qv4Hloubeni > 0) or (project.qv4 > 0) %}
	<fieldset>
		<legend>Q<sub>V4</sub> {% if (project.qv4Hloubeni > 0) %}hloubení{% endif %}{% if (project.qv4 > 0) %}Větry{% endif %}</legend>
		<table>
			<tbody>
			<tr>
				<td>Maximální průřez projektovaného důlního díla, dílčího úseku v důlním díle</td>
				<td>S<sub>MAX</sub> = {{ project.maxPrurez }}</td>
				<td>[ m<sup>2</sup> ]</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if project.qv5 > 0 %}
	<fieldset>
		<legend>Q<sub>V5</sub> Výpočet motorů</legend>
		<table>
			<tbody>
			<tr>
				<td colspan="3">
					<table>
						<thead class="thead-light">
						<tr>
							<th>Název</th>
							<th>
								<label v-b-tooltip.hover title="Celkový výkon naftových motorů pracujících současně v projektovaném důlním
                                díle" >
									<i ></i>P<sub>N</sub>[ kW ]
								</label>
							</th>
							<th>
								<label v-b-tooltip.hover title="Faktor průměrného vytížení">
									F<sub>A</sub>
								</label>
							</th>
							<th style="width: 100px;">
								<label v-b-tooltip.hover title="Specifický objemový průtok větrů k ředění">Q<sub>j</sub>[ m<sup>3</sup>s<sup>-1</sup>kWh<sup>-1</sup> ]</label></th>
							<th>&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						{% for engine in project.engines %}
							<tr>
								<td> {{ engine.name }} </td>
								<td> {{ engine.power }} </td>
								<td> {{ engine.factor }} </td>
								<td> {{ engine.flow }} </td>
								<td> {{ engine.result }} </td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if project.qv6 > 0 %}
		<fieldset>
			<legend>Q<sub>V6</sub>  Výpočet radonu</legend>
			<table>
				<tbody>
				<tr>
					<td>Předpokládaná exhalace radonu (dále jen “Rn“) v projektovaném důlním díle</td>
					<td>c<sub>Vt</sub> = {{ project.exhalationRn }}</td>
					<td>[ Bq.s<sup>-1</sup> ]</td>
				</tr>

				<tr>
					<td>Koncentrace Rn v PVP před zaústěním lutnového tahu do projektovaného důlního
						díla</td>
					<td>D<sub>Rn</sub> = {{ project.koncentracecRn }}</td>
					<td>[ Bq.s<sup>-1</sup> ]</td>
				</tr>
				<tr>
					<td>Přípustná koncentrace Rn v projektovaném důlním díle</td>
					<td>c<sub>Rn = {{ project.pripustnakoncentracecRn }}</td>
					<td>[ Bq.m<sup>-3</sup> ]</td>
				</tr>
				<tr>
					<td>Koeficient porušení radioaktivní rovnováhy (0,2 - 0,5)</td>
					<td>p = {{ project.koeficientPoruseniRadioaktivniRovnovahy }}</td>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
		</fieldset>
	{% endif %}

<table>
	<thead><tr><th>Ventilátor</th></tr></thead>
	<tbody><tr><td>{{ ventilator.name }}</td></tr></tbody>
</table>
<table>
	<thead><tr><th colspan="2">Komponenty LT:</th></tr></thead>
	<tbody>
	{% if lutna.byResist.active %}
		<tr><td>typ:</td><td>Jednotkový odpor</td></tr>
		<tr><td>hodnota</td><td>{{ lutna.byResist.value }}</td></tr>
	{% endif %}
	{% if lutna.byLambda.active %}
		<tr><td>typ:</td><td>Faktor tření</td></tr>
		<tr><td>λ koeficient tření:</td><td>{{ lutna.byLambda.lambda }}</td></tr>
		<tr><td>ρ hustota vzduchu:</td><td>{{ lutna.byLambda.rho }}</td></tr>
		<tr><td>D průměr lutny:</td><td>{{ lutna.byLambda.diameter }}</td></tr>
	{% endif %}
	{% if lutna.bySelect.active %}
		<tr><td>typ:</td><td>Výběrem z databáze</td></tr>
		<tr><td>Lutny:</td><td>{{ lutna.bySelect.variant }}</td></tr>
		<tr><td>Průměr luten:</td><td>{{ lutna.bySelect.dimension }}</td></tr>
		<tr><td>Varianty luten:</td><td>{{ lutna.bySelect.name }}</td></tr>
	{% endif %}
	<tr><td>Celková délka:</td><td>{{ lutna.length }}</td></tr>
	<tr><td>Odpor lutny:</td><td>{{ lutna.computedResist }}</td></tr>
	{% for resist in resists %}
		<tr><td>Tvarovka:</td><td>{{ resist.odpor.name }}: {{ resist.selectedSize}}mm</td></tr>
	{% endfor %}
	<tr><td>Celkový odpor:</td><td>{{ celkovyOdpor }}</td></tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th colspan="3"><strong>Výstupy VPOP</strong></th>
	</tr>
	</thead>
	<tbody>
	{% if project.qv1 > 0  %}
	<tr>
		<td>Obj.průtok ke snížení konc. exhalujícího CH4 na přípustnou mez</td>
		<td>Qv1 = {{ project.qv1 }}</td>
		<td>[ m<sup>3</sup>/s ]</td>
	</tr>
	{% endif %}
	{% if project.qv2 > 0  %}
	<tr>
		<td>Obj.průtok ke snížení konc. exhalujícího CO2 na přípustnou mez</td>
		<td>Qv2 = {{ project.qv2 }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qv3foukaci > 0  %}
	<tr>
		<td>Obj.průtok ke snížení konc. zplodin po trhací práci na příp.mez Foukací</td>
		<td>Qv3 = {{ project.qv3foukaci }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qv3saci > 0  %}
	<tr>
		<td>Obj.průtok ke snížení konc. zplodin po trhací práci na příp.mez Sací</td>
		<td>Qv3 = {{ project.qv3saci }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qv4 > 0  %}
	<tr>
		<td>Obj.průtok pro dosažení nejnižší povolené rychlosti důlních větrů</td>
		<td>Qv4 = {{ project.qv4 }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qv4Hloubeni > 0  %}
	<tr>
		<td>Obj.průtok pro dosa§žení nejnižší povolené rychlosti důlních větrů (Hloubeni)</td>
		<td>Qv4 = {{ project.qv4Hloubeni }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qv5 > 0  %}
	<tr>
		<td>Obj.průtok ke snížení konc.výf. zplodin naft.motorů na příp.mez</td>
		<td>Qv5 = {{ project.qv5 }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qv6 > 0  %}
	<tr>
		<td>Obj.průtok ke snížení konc. exhalujícího Rn na přípustnou mez</td>
		<td>Qv6 = {{ project.qv6 }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td>Potřebný obj. průtok důlních větrů přivedených na čelbu</td>
		<td style="font-weight: bold">Qv0 = {{ project.qv0 }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	</tbody>
</table>

	<div style="page-break-inside:avoid; text-align: center;">
		<h3 style="margin: auto;">Graf odvětratelné délky LT</h3>
		<br />
		<br />
		<img src="{{ graph }}" alt="graf projektu">
	</div>
</div>
</body>
</html>
