{# ./templates/default/mypdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Project printed</title>
</head>
<body>
<style>
	body {
		font-size: 12px;
	}
	table thead {
		font-weight: bold;
	}
	#container {
		padding-left: 5em;
	}
	img{
		max-width: 600px;
	}
	.dontsplit
	{
		page-break-inside: avoid;
	}
</style>
<div id="container">
	<h1>Návrh separátního větrání - {{ project.title }}</h1>
	<h3>výpočet potřebného objemoveho průtoku větrů - {{ project.description }}</h3>

	{% if (project.qVyvinPrachu > 0) or (project.qtpFoukaci > 0) or (project.qtpSaci > 0) %}
	<fieldset>
		<legend>Společné proměnné</legend>
		<table>
			<tbody>
			<tr>
				<td>Světlý průřez projektovaného díla</td>
				<td>S = {{ project.svetlyPrurez }}</td>
				<td>[ m<sup>2</sup> ]</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if project.qCO2 > 0  %}
	<fieldset>
		<legend>Exhalace CO<sub>2</sub></legend>
		<table>
			<tbody>
			<tr>
				<td>Předpokládaná exhalace kysličníku uhličitého (dále jen CO<sub>2</sub>) v projektovaném důlním díle.</td>
				<td>q<sub>2</sub> = {{ project.exhalationC02 }} </td>
				<td>[[m<sup>3</sup>s<sup>-1</sup>]</td>
			</tr>
			<tr>
				<td>Celková produkce CO<sub>2</sub> pracovníků a z provozu strojů s naftovým motorem.</td>
				<td>q<sub>3</sub> = {{ project.celkovaExhalaceCO2 }} </td>
				<td>[m<sup>3</sup>s<sup>-1</sup> ]</td>
			</tr>
			<tr>
				<td>Předpokládaný počet pracovníků</td>
				<td>n<sub>1</sub> = {{ project.predpokladanyPocetPracovnikuN1 }} </td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Předpokládaný počet současně provozovaných strojů s naftovým motorem v důlním díle</td>
				<td>n<sub>2</sub> = {{ project.predpokladanyPocetSoucasneProvozovanychStrojuSNaftovymMotoremN2 }}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Přípustná koncentrace CO<sub>2</sub> v projektovaném důlním díle</td>
				<td>c<sub>2</sub> = {{ project.pripustnaKoncentraceCO2 }}</td>
				<td>[ % ]</td>
			</tr>
			<tr>
				<td>Koncentrace CO<sub>2</sub> v PVP před zaústěním lutnového tahu do projektovaného důlního díla</td>
				<td>c<sub>2</sub> = {{ project.koncentraceCO2 }}</td>
				<td>[ % ]</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if project.qVyvinPrachu > 0  %}
	<fieldset>
		<legend>Vývin prachu</legend>
		<table>
			<tbody>
			<tr>
				<td>Vzdálenost luten od čelby</td>
				<td>d = {{ project.vzdalenostLutenOdCelby }}</td>
				<td>[ m ]</td>
			</tr>
			<tr>
				<td>Předpokládaný vývin prachu</td>
				<td>g = {{ project.predpokladanyVyvinPrachu }}</td>
				<td>[ mg.m<sup>-3</sup> ]</td>
			</tr>
			<tr>
				<td>Nejvyšší přípustná koncentrace prachu</td>
				<td>NPK = {{ project.nejvyssiPripustnaKoncentracePrachu }}</td>
				<td>[ mg.m<sup>-3</sup> ]</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if project.qPocetPracovniku > 0  %}
	<fieldset>
		<legend>Počet pracovníků</legend>
		<table>
			<tbody>
			<tr>
				<td>Minimální množství vzduchu vytížení</td>
				<td>K = {{ project.selectedMinimalniPritokVzduchu }}</td>
				<td></td>
			</tr>
			<tr>
				<td>Nejvyšší počet pracovníků</td>
				<td>n = {{ project.nejvyssiPocetPracovnikuVeSmene }}</td>
				<td></td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}

	{% if (project.qtpFoukaci > 0) or (project.qtpSaci > 0)  %}
	<fieldset>
		<legend>TP <label>{% if (project.qtpFoukaci > 0) %}foukací{% endif %} {% if (project.qtpSaci > 0) %}sací{% endif %}</label></legend>
		<table>
			<tbody>
			<tr>
				<td>Hmotnost odpálené trhaviny</td>
				<td>A = {{ project.hmotnostOdpaleneTrhaviny }} </td>
				<td>[ kg ]</td>
			</tr>
			{% if project.qtpFoukaci > 0  %}
				<tr>
					<td>Celková délka díla</td>
					<td>L = {{ project.delkavetranehodila }}</td>
					<td>[ m ]</td>
				</tr>
				<tr>
					<td>Množství konvenčního CO</td>
					<td>b = {{ project.mnozstviKonvencnihoCO }}</td>
					<td>[  m<sup>3</sup>kg<sup>-1</sup> ]</td>
				</tr>

				<tr>
					<td>Doba potřebná k odvětrání zplodin po trhací práci</td>
					<td>t = {{ project.dobaPotrebnaKOdvetraniHorniny }}</td>
					<td>[  min ]</td>
				</tr>
			{% endif %}
			{% if project.qtpSaci > 0  %}
				<tr>
					<td>Měrná hmotnost horniny</td>
					<td>ρ<sub>h</sub> = {{ project.mernahmotnosthornin }}</td>
					<td>[ kg.m<sup>-3</sup>  ]</td>
				</tr>
				<tr>
					<td>Délka zabírky</td>
					<td>L<sub>z</sub> = {{ project.delkazabirkytrhaciprace }}</td>
					<td>[  m ]</td>
				</tr>
			{% endif %}
			</tbody>
		</table>
	</fieldset>
	{% endif %}
	{% if project.qRedeniPrachu > 0  %}
	<fieldset>
		<legend>Ředění splodin</legend>
		<table>
			<tbody>
			<tr>
				<td colspan="3">
					<table>
						<thead class="thead-light">
						<tr>
							<th>Název</th>
							<th>
								<label>
									P<sub>N</sub>[ kW ]
								</label>
							</th>
							<th>
								<label>
									F<sub>A</sub>
								</label>
							</th>
							<th>
								<label>Q<sub>j</sub>[ m<sup>3</sup>s<sup>-1</sup>kWh<sup>-1</sup> ]</label></th>
							<th>&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						{% for engine in project.engines %}
							<tr>
								<td> {{ engine.name }} </td>
								<td> {{ engine.power }} </td>
								<td> {{ engine.factor }} </td>
								<td> {{ engine.flow }} </td>
								<td> {{ engine.result }} </td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
	{% endif %}


	<table>
		<thead><tr><th>Ventilátor</th></tr></thead>
		<tbody><tr><td>{{ ventilator.name }}</td></tr></tbody>
	</table>
	<table>
		<thead><tr><th colspan="2">Komponenty LT:</th></tr></thead>
		<tbody>
		{% if lutna.byResist.active %}
			<tr><td>typ:</td><td>Jednotkový odpor</td></tr>
			<tr><td>hodnota</td><td>{{ lutna.byResist.value }}</td></tr>
		{% endif %}
		{% if lutna.byLambda.active %}
			<tr><td>typ:</td><td>Faktor tření</td></tr>
			<tr><td>λ koeficient tření:</td><td>{{ lutna.byLambda.lambda }}</td></tr>
			<tr><td>ρ hustota vzduchu:</td><td>{{ lutna.byLambda.rho }}</td></tr>
			<tr><td>D průměr lutny:</td><td>{{ lutna.byLambda.diameter }}</td></tr>
		{% endif %}
		{% if lutna.bySelect.active %}
			<tr><td>typ:</td><td>Výběrem z databáze</td></tr>
			<tr><td>Lutny:</td><td>{{ lutna.bySelect.variant }}</td></tr>
			<tr><td>Průměr luten:</td><td>{{ lutna.bySelect.dimension }}</td></tr>
			<tr><td>Varianty luten:</td><td>{{ lutna.bySelect.name }}</td></tr>
		{% endif %}
		<tr><td>Celková délka:</td><td>{{ lutna.length }}</td></tr>
		<tr><td>Odpor lutny:</td><td>{{ lutna.computedResist }}</td></tr>
		{% for resist in resists %}
			<tr><td>Tvarovka:</td><td>{{ resist.odpor.name }}: {{ resist.selectedSize}}mm</td></tr>
		{% endfor %}
		<tr><td>Celkový odpor:</td><td>{{ celkovyOdpor }}</td></tr>
		</tbody>
	</table>


	<table>
	<thead>
	<tr>
		<th colspan="3"><strong>Výstupy VPOP</strong></th>
	</tr>
	</thead>
	<tbody>
	{% if project.qCO2 > 0  %}
	<tr>
		<td>Exhalace CO<sub>2</sub></td>
		<td>{{ project.qCO2 }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qtpSaci > 0  %}
	<tr>
		<td>TP sací:</td>
		<td>{{ project.qtpSaci }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qtpFoukaci > 0  %}
	<tr>
		<td>TP foukací:</td>
		<td>{{ project.qtpFoukaci }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qVyvinPrachu > 0  %}
	<tr>
		<td>Vývin prachu:</td>
		<td>{{ project.qVyvinPrachu }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qRedeniPrachu > 0  %}
	<tr>
		<td>Ředění zplodin vznětových motorů:</td>
		<td>{{ project.qRedeniPrachu }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	{% if project.qPocetPracovniku > 0  %}
	<tr>
		<td>&nbsp;Nejvyšší počet pracovníků:</td>
		<td>{{ project.qPocetPracovniku }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	{% endif %}
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td>Potřebný obj. průtok důlních větrů přivedených na čelbu</td>
		<td style="font-weight: bold">Qv0 = {{ project.qv0 }}</td>
		<td>[ m<sup>3</sup>s<sup>-1</sup> ]</td>
	</tr>
	</tbody>
</table>
<div style="page-break-inside:avoid; text-align: center;">
	<h3 style="margin: auto;">Graf odvětratelné délky LT</h3>
	<br />
	<br />
	<img src="{{ graph }}" alt="graf projektu">
</div>
</div>
</body>
</html>
